-e git+https://github.com/maparent/langdetect.git@no_sample#egg=langdetect
bleach>=3
certifi
isodate>=0.6
Jinja2
MarkupSafe>=1
Markdown>=3
psycopg2-binary>=2.8
requests>=2
simplejson>=3
SQLAlchemy[asyncio]>=1.4
quart
quart-auth
quart-CORS
quart-events
asyncpg
hypercorn
httpx
