-e git+https://github.com/maparent/langdetect.git@no_sample#egg=langdetect
bleach>=3
certifi
flask_sqlalchemy==2.4.4
Flask==1.1.2
isodate==0.6.0
Jinja2
MarkupSafe>=1
Markdown>=3
psycopg2-binary>=2.8
requests>=2
simplejson>=3
SQLAlchemy>=1.3
