<html>
  <head>
    <title>MemeBrane: {{ node.name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div>
      <form method="post" action="/url">
	Start with <a href="/brain/{{ brain.safe_slug }}/thought/{{ brain.base_id }}{{ show_query_string }}">[{{ brain.name }}]</a>
	or a web brain URL: <input type="text" name="url" size="40"> <input type="submit" value="Go">
      </form>
    </div>
    <hr>
    <div>
{% if parents %}

      <p>
	Parents:
	{% for id, name in parents.items() %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/brain/{{ brain.safe_slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	{% endfor %}
      </p>
{% endif %}
      <h1>{{ node.name }}{% if node_type != "Normal" %} <i>({{ node.node_type }})</i>{% endif %}</h1>
      {% if 'siblings' in show and siblings %}
	<p>
	  Siblings:
	  {% for id, name in siblings.items() %}
	  {% if loop.index > 1 %} - {% endif %}
	  <a href="/brain/{{ brain.safe_slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	  {% endfor %}
	</p>
      {% endif %}
  {% if children %}
      <p>
	Children:
	{% for id, name in children.items() %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/brain/{{ brain.safe_slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	{% endfor %}
      </p>
  {% endif %}
  {% if jumps %}
      <p>
	Jumps:
	{% for id, name in jumps.items() %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/brain/{{ brain.safe_slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	{% endfor %}
      </p>
  {% endif %}
  {% if tags %}
      <p>
  Tags:
  {% for id, name in tags.items() %}
  {% if loop.index > 1 %} - {% endif %}
  <a href="/brain/{{ brain.safe_slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
  {% endfor %}
      </p>
  {% endif %}
  {% if node_type == "Tag" %}
      <p>
        With tag:
      {% for id, name in of_tag.items() %}
      {% if loop.index > 1 %} - {% endif %}
      <a href="/brain/{{ brain.safe_slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
      {% endfor %}
      </p>
  {% endif %}
      <p>
	Notes:
	<div style="margin: 1em 0 1em 2.5em">
	  {{ notes_html|safe }}
	</div>
      </p>
      <p>
	Attachments:
	{% for attachment in attachments %}
	<div style="margin: 1em 0 1em 2.5em">
	  <div><span style="font-weight: bold">{{ attachment.name }}</span> ({{attachment.att_type.name}})</div>
	  <div><a target="_blank" rel="noopener" href="{{ attachment.location }}">{{ attachment.location }}</a></div>
	</div>
	{% endfor %}
      </p>
      {% if 'json' in show %}
	<p>
	  JSON:
	  <pre>
{{ json }}
	  </pre>
	</p>
      {% endif %}
    </div>
  </body>
</html>
