<html>
  <head>
    <title>MemeBrane: {{ names[this_id] }}</title>
  </head>
  <body>
    <div>
      <form method="post" action="/url">
	Start with <a href="/brain/{{ brain.slug }}/thought/{{ brain.base_id }}{{ show_query_string }}">[{{ brain.name }}]</a>
	or a web brain URL: <input type="text" name="url" size="40"> <input type="submit" value="Go">
      </form>
    </div>
    <hr>
    <div>
      <p>
	Parents:
	{% for id, name in parents.items() %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/brain/{{ brain.slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	{% endfor %}
      </p>
      <h1>{{ names[this_id] }}</h1>
      {% if 'siblings' in show %}
	<p>
	  Siblings:
	  {% for id, name in siblings.items() %}
	  {% if loop.index > 1 %} - {% endif %}
	  <a href="/brain/{{ brain.slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	  {% endfor %}
	</p>
      {% endif %}
      <p>
	Children:
	{% for id, name in children.items() %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/brain/{{ brain.slug }}/thought/{{ id }}{{ show_query_string }}">{{ name }}</a>
	{% endfor %}
      </p>
      <p>
	Jumps:
	{% for jump in jumps %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/brain/{{ brain.slug }}/thought/{{ jump }}{{ show_query_string }}">{{ names[jump] }}</a>
	{% endfor %}
      </p>
      <p>
	Notes:
	<div style="margin: 1em 0 1em 2.5em">
	  {{ notes_html|safe }}
	</div>
      </p>
      <p>
	Attachments:
	{% for attachment in attachments %}
	<div style="margin: 1em 0 1em 2.5em">
	  <div><span style="font-weight: bold">{{ attachment['name'] }}</span>
	    {% if attachment['type'] == 3 %}(link){% else %}(type {{ attachment['type'] }}){% endif %}</div>
	  <div><a target="_blank" rel="noopener" href="{{ attachment['location'] }}">{{ attachment['location'] }}</a></div>
	</div>
	{% endfor %}
      </p>
      {% if 'json' in show %}
	<p>
	  JSON:
	  <pre>
{{ json }}
	  </pre>
	</p>
      {% endif %}
    </div>
  </body>
</html>
