<html>
  <body>
    <div><a href="/">[Home]</a></div>
    <div>
      <p>
	Parents:
	{% for parent in parents %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/thought/{{ parent }}">{{ names[parent] }}</a>
	{% endfor %}
      </p>
      <h1>{{ names[this_id] }}</h1>
      <p>
	Siblings:
	{% set i = 0 %}
	{% for sibling in siblings %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/thought/{{ sibling }}">{{ names[sibling] }}</a>
	{% endfor %}
      </p>
      <p>
	Children:
	{% set i = 0 %}
	{% for child in children %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/thought/{{ child }}">{{ names[child] }}</a>
	{% endfor %}
      </p>
      <p>
	Jumps:
	{% set i = 0 %}
	{% for jump in jumps %}
	{% if loop.index > 1 %} - {% endif %}
	<a href="/thought/{{ jump }}">{{ names[jump] }}</a>
	{% endfor %}
      </p>
    </div>
  </body>
</html>
