<html>
  <head>
    <title>MemeBrane: URL Type Not Recognized</title>
  </head>
  <body>
    <div>
      <p>
	Error: "{{ bad_url }}" is not a recognized URL type. Please go back and try again.
      </p>

      <p>
	Currently recognized formats:
	<ul>
	  <li>https://bra.in/9jQg6m</li>
	  <li>https://app.thebrain.com/brains/3d80058c-14d8-5361-0b61-a061f89baf87/thoughts/83b0bb37-26c8-4c1f-a831-26ebd433dc9d/</li>
	</ul>
      </p>

      <p>
	Not yet implemented format:
	<ul>
	  <li>https://webbrain.com/brainpage/brain/BED8187E-FD1C-CE55-E236-871DD7E1DF32#-6975</li>
	</ul>
      </p>
</div>
  </body>
</html>
